

body{

    background: -o-linear-gradient(Geneva);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
 h1{

    color: azure;
    
 }
  
 :vertical{
     
    border: 0ch;
 }

p{

   forced-color-adjust: bold;
}
}

